{% load static %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>CodePen - 3D Gradient Buttons</title>
        <link rel="stylesheet" href="{% static '/css/style.css' %}"/>

    </head>
    <body>
    <!-- partial:index.partial.html -->
        <div class="container">
            <a class="btn cta bg" href="https://www.youtube.com/watch?v=piV2LAbkMx4&ab_channel=Gorillaz"  style="text-decoration: none;">GO TO THE APP</a>
        </div>
<!-- partial -->
  
    </body>
</html>
